body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #105a25;
    text-align: center;
    padding: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 20px;
    margin: 0 5px;
    
   
    transition: all 0.3s ease;
}

a:hover {
    background-color: #10452c;
    border-color: #fff;
}